@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
/* apply to entire app */
* {
    font-family: 'Roboto Condensed';
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🥄</text></svg>") 16 0,auto;
}

body {
    background-color: rgb(240, 239, 229);
}

/* animations */
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
    40% {transform: translateY(-3px);} 
    60% {transform: translateY(-2px);} 
} 

@keyframes slide-in {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0%);
    }
  }

/* --------------App.js--------------- */



.recipeRescue {
    margin-top: 1em;
    margin-right: 5.5em;
    margin-left: 5.5em;
    font-family: 'Roboto Condensed';
    font-size: 5vw;
    text-align: center;
    font-style: italic;
    color:  rgb(60, 109, 46);
    border: solid 3px;
    border-radius: 5px;
}

.recipeRescue:hover {
    animation: fadeIn 5s;
    animation-iteration-count: 1;
}


/* -----------MainContainer.js--------------- */
.mainContainer {
    animation: fadeIn 2s;
    background-color: #ffffffb8;
    margin: 5vw;
    margin-left: 4vw;
    margin-top: 1vw;
    margin-bottom: 5vw;
    padding: 10vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
    border: none;
    border-radius: 15px;
}

.buttons {
    animation: fadeIn 2s;
    display: flex;
    justify-content: center;
    font-weight: 300;
}


.recipesButton {
    background-color: rgb(89, 123, 76);
    color: white;
    border: none;
    border-radius: 5px;
    padding: .45em;
    margin: .25em;
}

.recipesButton:hover {
    background-color: rgb(144, 182, 127);
    animation: bounce 2s;
}

.ingredientsButton {
    background-color:  rgb(89, 123, 76);
    border-radius: 5px;
    color: white;
    border: none;
    padding: .45em;
    margin: .25em;
}

.ingredientsButton:hover {
    background-color: rgb(144, 182, 127);
    animation: bounce 2s;
}

.login-signup {
    position: absolute;
    top: 1em;
    right: 1em;
    
}

.login {
    color: rgb(89, 123, 76);
    background-color: transparent;
    border: none;
    border-radius: 5px;
    padding: .3em;
    margin: .25em;
}

.login:hover {
    animation: bounce 2s;
    color: rgb(89, 123, 76);
}


.signup {
    color: rgb(89, 123, 76);
    background-color: transparent;
    border: none;
    border-radius: 5px;
    padding: .3em;
    margin: .25em;
}

.signup:hover {
    animation: bounce 2s;
    color: rgb(89, 123, 76);
}

.logout {
    color: rgb(89, 123, 76);
    background-color: transparent;
    border: none;
    border-radius: 5px;
    padding: .3em;
    margin: .25em;
}

.logout:hover {
    animation: bounce 2s;
    color: rgb(89, 123, 76);
}

/* -----------Ingredients.js-----------*/

/* searchbox */

.searchContainer {
    color: rgb(102, 132, 90);
    display: flex;
    justify-content: center;
    margin: 1vw;
    margin-bottom: 1vw;
}

.searchBox {
    color: rgb(102, 132, 90);
    padding: .3em;
    margin: .25em;
    display: inline-flex;
    justify-content: center;
}

.submitButton {
    color: rgb(255, 255, 255);
    background-color: rgb(89, 123, 76);
    border: none;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    padding: .45em;
}

.submitButton:hover {
    animation: bounce 2s;
    background-color: rgb(128, 164, 113);
}

.ingredientInput {
    margin: .25em;
    display: inline-flex;
    justify-content: center;
}

.yourIngredients {
    color:rgb(102, 132, 90);
    font-size: medium;
    font-style: italic;
    text-align: center;
}

.ingredientsBox {
    display: flex;
    background-color: #ffffffd3;
    border-radius: 10px;
    margin-right: 10vw;
    margin-left: 10vw;
    margin-bottom: 2.5vw;
}

.suggestedIngredients {
    font-size: .5em;
    flex: 1;
    padding-left: 2em;
    padding-bottom: 2em;
    margin: 3vw;
    margin-top: 5em;
    margin-left: 10vw;
}

.selectedIngredients {
    list-style-position: inside;
    flex:1;
    color:rgb(102, 132, 90);
    margin-right: 10vw;
    font-size: .8em;
    padding-left: 2em;
    padding-bottom: 2em;
    margin-top: 3em;
}

.foundRecipes {
    display: block;
    clear: both;
}

.x {
    color: rgb(255, 255, 255);
    background-color: rgb(102, 132, 90);
    display:inline-flex;
    justify-content: center;
    align-items: center;
    padding: .6em;
    margin: .5em;
    width: .6em;
    height: .6em;
    border: none;
    border-radius: 100%;
}

.x:hover {
    animation: bounce 1s;
    background-color: rgb(144, 182, 127);
}


/* RecipesList.js */

.button {
    background-color: transparent;
    color: rgb(102, 132, 90);
    margin: .25em;
    border: none;
}

.button:hover {
    color: rgb(144, 182, 127);
    animation: bounce 1s;
}

.heartbutton {
    color: rgb(255, 255, 255);
    background-color: rgb(102, 132, 90);
    display:inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8em;
    margin: .5em;
    width: .6em;
    height: .6em;
    border: none;
    border-radius: 100%;
}

.heartbutton:hover {
    background-color: rgb(144, 182, 127);
    animation: bounce 1s;
}

.recipesComponent {
    background-color: rgb(102, 132, 90);
    text-align: center;
}

.recipesList {
    color: rgb(102, 132, 90);
    list-style-position: inside;
    float: left;
    padding: 1vw;
    margin: 1vw;
}

.faverecipesList {
    color: rgb(102, 132, 90);
    list-style-position: inside;
    padding: 2vw;
    margin-top: 5vw;
}

.faveContainer {
    color: rgb(102, 132, 90);
    display: flex;
    background-color: #ffffffd3;
    border-radius: 10px;
    margin-right: 10vw;
    margin-left: 10vw;
    margin-bottom: 2.5vw;
}

.savedTitle {
    display: flex;
    justify-content: center;
    margin-left: 5vw;
    margin-top: 5vw;
    padding: 2vw;
}

/* ---------login.jsx/signup.jsx------------*/
.heading {
    padding-top: 1em;
    font-family: 'Roboto Condensed';
    font-size: 4vw;
    text-align: center;
    font-style: italic;
    color:  rgb(89, 123, 76);
}

.loginSignup {
    justify-content: center;
    display: flex;
    background-color: #ffffff93;
    border-radius: 10px;
    margin: 4em;
    margin-right: 20em;
    margin-left: 20em;
    padding: 3em;
    color:rgb(89, 123, 76);
}

.userInput {
    padding: 1em;
}

.logSignButton {
    color: rgb(255, 255, 255);
    background-color: rgb(89, 123, 76);
    border: none;
    border-radius: 5px;
    margin-left: 7.5em;
    margin-top: 1em;
    padding: .45em;
}

.logSignButton:hover {
    background-color: rgb(144, 182, 127);
    animation: bounce 1s;
}