@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
/* apply to entire app */
* {
    font-family: 'Jost';
    padding: 0;
    margin: 0;
}

:root {
  --primary-blue: rgb(41, 41, 65);
  --seethrough-blue: rgb(41, 41, 65, 0.5);

  --primary-green: rgb(47, 56, 61);
  --seethrough-green: rgb(47, 56, 61, 0.5);

  --primary-silver: rgb(82, 82, 108);
  --seethrough-silver: rgb(82, 82, 108, 0.5);

  --primary-red:rgb(65, 40, 51);
  --seethrough-red:rgb(65, 40, 51, 0.5);

  --yellow-color: rgb(233, 210, 134);
  --seethrough-yellow: rgb(233, 210, 134, 0.25);

  --secondary-yellow: #d4c79b;

  --white-color: rgb(255, 255, 255);
  

  --gradient-color: linear-gradient(150deg, #ac9bd449 ,#c2e1ff49);
  --gradienthover-color: linear-gradient(150deg, #ac9bd464 ,#c2e1ff6b);
  --dark-font: #2e2050ab;
}

.root{
  background: var(--primary-blue);
  background: linear-gradient(150deg, var(--primary-blue) 0%, var(--primary-silver) 40%, var(--primary-red) 90%);
  background-size: cover;
  min-height: 100vh;
  min-width: 100vw;
}

.title{
  color: var(--white-color);
  text-align: center;
  font-size: 3.5rem;
  font-style: italic;
  padding: 2rem;
  margin-right: 20vw;
  margin-left: 20vw;
}

a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }